.header {
	--links: 0;
	@mixin copy;
	z-index: 10;
	position: sticky;
	top: 0;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.header,
.menu {
	background-color: black;
	padding-top: 20px;
	padding-bottom: 12px;
	margin-bottom: 52px;

	@media $(medium) {
		padding-top: 24px;
		padding-bottom: 24px;
		margin-bottom: 0;
	}

	@media $(large) {
		padding-top: 24px;
		padding-bottom: 28px;
	}
	
	@mixin wrapper;
}

.principles {
	margin-left: auto;
}

.menu {
	@mixin wrapper;
}

.menu {
	z-index: 11;
	max-height: 0px;
	overflow: hidden;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	background-color: transparent;
	transition: background-color 200ms ease-out, max-height 600ms cubic-bezier(0.215, 0.610, 0.355, 1);

	@media $(large) {
		width: 25vw;
	}

	@media $(x-large) {
		width: 20vw;
	}

	@media $(max-width) {
		width: 15vw;
	}

	a {
		padding-bottom: 0.5em;

		&.active {
			text-decoration: underline;
		}
	}

	&.hasNav {
		a:first-child {
			opacity: 0;
		}
	}
}

.close {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;

	:global(#navcheckbox:checked) ~ & {
		pointer-events: auto;
		z-index: 9;
	}
}

:global(#navcheckbox:checked) + .header .menu {
	max-height: calc(var(--links) * 2.5em);
	z-index: 20;
	background-color: black;

	&.hasNav a:first-child {
		opacity: 0.5;
	}
}
