.header,
.menu {
	--padding-top: 20px;
	--padding-bottom: 12px;
	padding-top: var(--padding-top);
	padding-bottom: var(--padding-bottom);

	@media $(medium) {
		--padding-top: 24px;
		--padding-bottom: 24px;
	}

	@media $(large) {
		--padding-top: 24px;
		--padding-bottom: 28px;
	}
	
	@mixin wrapper;
}

.header {
	--links: 0;
	@mixin navigation;
	z-index: 10;
	position: sticky;
	top: 0;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-bottom: 52px;
	background-color: black;
	
	@media $(medium) {
		background-color: transparent;
		mix-blend-mode: difference;
		margin-bottom: 0;
	}

	a {
		position: relative;
		overflow: hidden;

		&::after {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: white;
			height: 1px;
			transform: translateX(-100%);
			content: '';
		}

		&.isActive::after {
			transform: translateX(0);
		}
	}
}

.principles {
	margin-left: auto;
	display: block;
}

.menu {
	@mixin wrapper;
}

.menu {
	z-index: 11;
	overflow: hidden;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	background-color: transparent;
	transition: max-height 600ms ease-out;

	@media $(large) {
		width: 25vw;
		height: 100vh;
		max-height: 0;
	}

	@media $(x-large) {
		width: 20vw;
	}

	@media (min-width: $(huge-px)) {
		width: 15vw;
		max-width: 250px;
	}

	a {
		display: inline-block;
		padding-bottom: 0.5em;

		&::after {
			bottom: 12px !important;
		}
	}
	

	&.hasNav {
		pointer-events: none;
		
		a {
			opacity: 0;
		}
	
		a:first-child {
			opacity: 0;
		}
	}
}

.close {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;

	:global(#navcheckbox:checked) ~ & {
		pointer-events: auto;
		z-index: 9;
	}
}

.search {
	margin-left: 24px;
	vertical-align: middle;
	cursor: pointer;
}

:global(#navcheckbox:checked) + .header {
	mix-blend-mode: normal;

	.principles {
		opacity: 0;
	}
}

:global(#navcheckbox:checked) + .header .menu {
	/* max-height: calc(var(--links) * 2.5em); */
	max-height: 100vh;
	z-index: 20;
	background-color: black;
	pointer-events: auto;

	&.hasNav {
		a {
			opacity: 1;
		}

		a:first-child {
			opacity: 0.5;
		}
	}
}
