.actions {
	@mixin narrowWrapper;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 56px;
	
	@media $(small) {
		margin-bottom: 72px;
	}
}

.title {
	@mixin subtitle;
}

.title {
	width: 100%;
	margin-bottom: 32px;

	@media $(small)  {
		margin-bottom: 48px;
	}
}

.wrapper {
	/* ##FIVECOLUMN */
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	width: 100%;

	@media $(small) {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 12px;
		row-gap: 12px;
		grid-template-rows: min-content auto;
	}
	
	@media $(large) {
		grid-template-columns: repeat(3, 1fr);
	}
		
	@media $(huge) {
		grid-template-columns: repeat(5, 1fr);
	}
}