.actions {
	@mixin wrapper;
	display: grid;
	grid-template-areas: "title" "actions";
	grid-template-rows: auto;
	width: 100%;
	margin-bottom: 56px;
	
	@media $(small) {
		grid-template-areas: "title title" "actions actions";
		row-gap: 12px;
		grid-template-rows: min-content auto;
		margin-bottom: 72px;
	}
	
	@media $(large) {
		grid-template-rows: min-content auto;
		grid-template-areas: "title title title" "actions actions actions";
	}

	@media $(x-large) {
		padding: 0 15%;
	}
	
	@media $(huge) {
		padding: 0;
		grid-template-areas:
			"spaceleft title title title spaceright"
			"spaceleft actions actions actions spaceright";
		grid-template-columns: 0.15fr 0.35fr 72px 0.35fr 0.15fr;
	}
}

.title {
	@mixin subtitle;
}

.title {
	grid-area: title;
	margin-bottom: 32px;

	@media $(small)  {
		margin-bottom: 48px;
	}
}

.wrapper {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	width: 100%;
	grid-area: actions;

	@media $(small) {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 12px;
		row-gap: 12px;
		grid-template-rows: min-content auto;
	}
	
	@media $(large) {
		grid-template-columns: repeat(3, 1fr);
	}
	
	@media $(x-large) {
		grid-template-columns: repeat(4, 1fr);
	}
}