 .tile {
	background-color: $dark-grey;
	border-radius: 20px;
	padding: 36px 24px 44px;
	width: 100%;
	margin-bottom: 12px;

	@media $(medium) {
		padding: 20px 24px 48px;
	}

	&.isOutline {
		background-color: transparent;
		border: 1px solid white;
	}
}

.title {
	@mixin subtitle;
	margin-bottom: 1em;
	padding: 0;
}

.copy {
	@mixin navigation;
	line-height: 1.5;
}
