.hero {
	display: grid;
	grid-template-areas: "copy" "image";
	width: 100%;
	column-gap: 0;
	margin-bottom: 56px;
	
	@media $(large) {
		margin-bottom: 0;
		grid-template-areas: "image gap copy";
		grid-template-columns: 0.5fr 72px 0.5fr;
		grid-template-rows: minmax(min-content, 90vh);
	}
	
	@media $(x-large) {
		grid-template-areas: "title copy gap image";
		grid-template-columns: 15vw calc(35vw - 72px) 72px 50vw;
		grid-template-rows: minmax(720px, min-content);
	}

	&.isIntro {
		@media $(x-large) {
			grid-template-areas: "image gap copy";
			grid-template-columns: 50vw 72px calc(50vw - 72px);
		}
	}
}

.copy {
	@mixin copy;
	grid-area: copy;
	margin-bottom: 32px;

	@media $(huge) {
		max-width: 66%;
	}

	.isIntro & {
		align-self: flex-end;
	}
}

.copy {
	@mixin wrapper;
	width: 100vw;
	margin-bottom: 32px;

	@media $(large) {
		width: 100%;
		align-self: flex-start;
		padding-right: 42px;
		padding-left: 0;
		padding-bottom: 80px;
		padding-top: calc(128px + 1.25em);
	}
	
	@media $(x-large) {
		padding-top: calc(160px - 0.5em);
	}

	:global(p) {
		margin-bottom: 0.5em;
	}

	:global(p:last-child) {
		margin-bottom: 0;
	}
}

.copy :global(p:first-of-type) {
	@mixin title;
}


.image {
	background-color: white;
	grid-area: image;
	width: 100vw;
	height: 125vw;
	position: relative;
	
	@media $(large) {
		width: 100%;
		height: 100%;
	}

	@media $(x-large) {
		padding-top: 66%;
	}
}

.image img {
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;

	@media $(large) {
		object-position: left;

		.isIntro & {
			object-position: right;
		}
	}

}
			