.title {
	@mixin wrapper;
	@mixin copy;
	position: sticky;
	top: 20px;
	margin-bottom: 12px;
	z-index: 11;
	
	@media $(medium) {
		--top-offset: $TITLE_OFFSET_WHEN_MEDIUM;
	}
	@media $(large) {
		--top-offset: $TITLE_OFFSET_WHEN_LARGE;
	}
	@media $(x-large) {
		--top-offset: $TITLE_OFFSET_WHEN_XLARGE;
	}

	@media $(medium) {
		top: calc(24px - var(--top-offset));
		margin-top: 2em;
		height: 0;
		margin-bottom: calc(-1 * var(--top-offset));
		padding-top: var(--top-offset);
	}
	
	@media $(x-large) {
		/* Shift to far left of screen. 504 relates to initial left offset in X axis from centre */
		transform: translateX(-15vw);
	}

	@media (min-width: $(max-width)) {
		/* Shift to far left of screen. 504 relates to initial left offset in X axis from centre */
		transform: translateX(calc(-50vw + 504px));
	}

	&.isActive {
		text-decoration: underline;
	}
}