.title {
	@mixin wrapper;
	display: block;
	position: sticky;
	top: 20px;
	max-width: 50vw;
	z-index: 11;
	opacity: 1;
	mix-blend-mode: difference;
	pointer-events: auto;
	white-space: nowrap;

	@media $(large) {
	}

	&.isTop {
		@media $(large) {
			padding-bottom: 0;
		}
	}
	&.isActive {
		cursor: pointer;
		pointer-events: auto;
	}
}

.title h2 {
	@mixin navigation;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	display: inline-block;

	&::after {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 2px;
		background-color: white;
		height: 1px;
		transform: translateX(-100%);
		content: '';
	}
}

.title.isActive h2::after {
	transform: translateX(0);
}

:global(#navcheckbox:checked ~ main > section) .title {
	opacity: 0;
	pointer-events: none;
}