.articles {
	@mixin wrapper;
	display: flex;
	flex-direction: column;
	margin-bottom: 56px;
	overflow-y: visible;
	position: relative;
	
	@media $(small)  {
		display: flex;
		flex-direction: column;
		margin-bottom: 128px;
	}

	@media $(x-large) {
		padding: 0 15%;
	}

	@media $(huge) {
		grid-template-areas: "space title title title title" "space links links links links";
		grid-template-columns: 0.15fr 0.35fr 72px 0.35fr 0.15fr;
		padding: 0 0 0 15%;
	}

	&::after {
		@media $(huge) {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 30vw;
			background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
			content: '';
		}
	}
}

.title {
	@mixin subtitle;
}

.title {
	grid-area: title;
	margin-bottom: 36px;
	
	@media $(small)  {
		margin-bottom: 48px;
		grid-column: 1 / 4;
	}
}

.container {
	width: 100%;
	color: white;
	scrollbar-color: rgba(255,255,255,0.25) $dark-grey;
	grid-area: links;

	&::-webkit-scrollbar,
	&::-webkit-scrollbar-track {
	  background-color: $dark-grey;
	}

	&::-webkit-scrollbar-thumb {
	  background-color: rgba(255,255,255,0.25);
	  border-radius: 6px;
	  border: 3px solid $dark-grey;
	}

	@media $(small) {
		display: flex;
		flex-direction: row;
		overflow-y: hidden;
		overflow-x: auto;
	}
}

.article {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;

	@media $(small) {
		width: calc(100% / 2 - (32px / 2));
		margin-right: 16px;
	}

	@media $(large) {
		width: calc(100% / 3 - (32px / 3));
	}

	@media $(huge) {
		margin: 0;
		padding-right: 12px;
		width: calc(((100vw - 72px) * 0.7) / 5);
	}

	&:nth-child(n+4) {
		display: none;

		@media $(small) {
			display: flex;
		}
	}

}

.image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.imageFrame {
	position: relative;
	background-color: rgba(255,255,2550.5);
	width: 100%;
	padding-top: 70%;
	margin: 0 0 16px;
	overflow: hidden;
}

.subtitle {
	@mixin tertiary;
}

.subtitle {
	margin-bottom: 8px;
	
	:global(h3) {
		text-overflow: ellipsis;
		height: 64px;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		white-space: wrap;
		overflow: hidden;
	}
}

.copy {
	@mixin copy;
	margin-bottom: 32px;

	@media $(small) {
		margin-bottom: 24px;
	}
}