.articles {
	@mixin narrowWrapper;
	display: flex;
	flex-direction: column;
	margin-bottom: 56px;
	overflow-y: visible;
	position: relative;
	
	@media $(small)  {
		margin-bottom: 128px;
	}

	@media $(x-large) {
		padding: 0 0 0 15vw;
		width: 85vw;
	}

	&::after {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 30vw;
		background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
	
		@media $(small) {
			content: '';
		}
		
		@media $(x-large) {
			right: -15vw;
		}
	}
}

.title {
	@mixin subtitle;
}

.title {
	width: 100%;
	margin-bottom: 36px;
	
	@media $(small)  {
		margin-bottom: 48px;
		grid-column: 1 / 4;
	}
}

.container {
	--block-width: calc((70vw - (12px * (var(--quantity) - 1))) / var(--quantity));
	width: 100%;
	color: white;
	scrollbar-color: black black;

	@media $(small) {
		--quantity: 2;
		display: grid;
		grid-template-columns: repeat(20, min-content);
		grid-template-rows: repeat(3, min-content);
		row-gap: 0;
		column-gap: 12px;
		overflow-y: hidden;
		overflow-x: auto;
	}

	@media $(large) {
		--quantity: 3;
	}

	@media $(huge) {
		--quantity: 5;
	}

	&::-webkit-scrollbar,
	&::-webkit-scrollbar-track {
	  background-color: black;
	}

	&::-webkit-scrollbar-thumb {
	  background-color: black;
	  border-radius: 6px;
	  border: 3px solid black;
	}
}

.article {
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
	
	@media $(small) {
		display: contents;
		margin: 0;
	}

	&:nth-child(n+4) {
		display: none;

		@media $(small) {
			display: contents;
		}
	}

}

.spacer {
	display: none;
	@media $(small) {
		flex-grow: 1;
		min-width: var(--block-width);
		display: block;
		position: relative;
		height: 100%;
		flex-shrink: 0;
	}
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.imageFrame {
	position: relative;
	background-color: rgba(255,255,2550.5);
	width: var(--block-width);
	padding-top: 70%;
	margin: 0 0 16px;
	grid-row: 1 / 2;
	overflow: hidden;
}

.subtitle {
	@mixin tertiary;
}

.subtitle {
	margin-bottom: 8px;
	grid-row: 2 / 3;
	
	:global(h3) {
		display: block;
		text-overflow: ellipsis;
		max-height: 64px;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		white-space: wrap;
		overflow: hidden;
	}
}

.copy {
	@mixin copy;
	grid-row: 3 / 4;
	text-overflow: ellipsis;
	max-height: 5em;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	white-space: wrap;
	display: block;
	overflow: hidden;
}