.footer {
	@mixin wrapper;
	display: grid;
	width: 100%;
	grid-template-rows: repeat(3, min-content);
	grid-template-columns: 100%;
	row-gap: 0px;

	@media $(medium) {
		grid-template-rows: auto;
		grid-gap: 48px;
		grid-template-columns: auto min-content 236px;
	}

	@media $(large) {
		grid-template-rows: auto;
		grid-template-columns: min-content min-content auto 236px 100px;
	}
	
	@media $(x-large) {
		grid-template-rows: auto;
		grid-gap: 0;
		grid-template-columns: 15% min-content auto 236px 100px;
	}
}

.newsletter {
	@mixin labels;
}

.newsletter {
	margin-bottom: 48px;

	@media $(large) {
		grid-column: 4 / 5;
		grid-row: 1 / 2;
	}
}

.address {
	@mixin labels;
	font-style: normal;
}

.address {
	margin-bottom: 48px;

	@media $(large) {
		grid-row: 1 / 2;
	}

	.subheading {
		opacity: 0.7;
	}
	
	:global(p) {
		margin: 0;
		padding: 0;
	}

	:global(a) {
		display: inline-block;
		text-decoration: none;
		position: relative;

		&::after {
			position: absolute;
			bottom: 2px;
			left: 0;
			width: 100%;
			border-bottom: 1px solid white;
			content: '';
		}
	}
}

.directions {
	margin-bottom: 20px;
}

.telephone::after {
	display: none;
}