.accordion {
	@mixin wrapper;
}

.checkbox {
	display: none;
}

.title {
	@mixin subtitle;
	line-height: 1;
}

.title {
	display: block;
	margin-bottom: 12px;
	padding: 12px 0;
	position: relative;
	cursor: pointer;
	user-select: none;

	&::after {
		background-color: transparent;
		border: 1px solid #FFFFFF;
		border-width: 1px 1px 0 0;
		box-sizing: border-box;
		transform: translateY(-50%) rotate(-45deg);
		width: 12px;
		height: 12px;
		position: absolute;
		transform-origin: center center;
		right: 20px;
		top: 50%;
		content: '';

		.checkbox:checked ~ & {
			transform: translateY(-50%) rotate(-225deg);
		}
	}
}

.contents {
	border-bottom: 1px solid rgba(255,255,255,0.5);
	max-height: 0;
	margin-bottom: 12px;
	overflow: hidden;

	.checkbox:checked ~ & {
		max-height: 9999px;
		padding: 16px 0 97px;
	}
}