.section {
	display: block;

	@media $(x-large) {
		padding-left: 15%;
	}
}

.column {
	display: block;
}

.intro {
	z-index: 11;
}

.fauxTitle {
	@mixin wrapper;
    margin-top: -88px;
    margin-bottom: 88px;
	position: sticky;
	cursor: pointer;
	height: 0;
	z-index: 11;
	display: block;
	top: 20px;

	:global(#navcheckbox:checked ~ main) & {
		opacity: 0;
	}
	
	@media $(medium) {
		top: 24px;
		margin-top: -52px;
		margin-bottom: 52px;
	}

	@media (min-width: $(max-width)) {
		/* Shift to far left of screen. 504 relates to initial left offset in X axis from centre */
		transform: translateX(calc((100vw - 1440px) / -2));
	}
}

.fauxTitle h2 {
	@mixin copy;
	display: inline-block;
}