.section {
	display: block;
	margin-bottom: 112px;
	position: relative;
	
	@media $(medium) {
		margin-bottom: 128px;
	}
}

.anchor {
	height: 0;
	width: 0;

	@media $(medium) {
		position: absolute;
		top: -82px;
	}
}

.column {
	display: block;
}

.intro {
	position: relative;
	top: -36px;
	margin-bottom: -36px;
	@media $(medium) {
		top: 0;
		margin-bottom: 0;
	}
}

/* Increase selector specifity to override child styles */
label.introTitle {
	margin-top: -58px;
	margin-bottom: 64px;

	@media $(medium) {
		top: 24px;
		padding-top: 0; 
		margin-bottom: 56px;
		transform: none;
	}
}