.section {
	display: block;

	@media $(x-large) {
		padding-left: 15%;
	}
}

.column {
	display: block;
}

.intro {
	position: relative;
	top: -36px;
	margin-bottom: -36px;
	@media $(medium) {
		top: 0;
		margin-bottom: 0;
	}
}

/* Increase selector specifity to override child styles */
label.introTitle {
	margin-top: -58px;
	margin-bottom: 64px;

	@media $(medium) {
		top: 24px;
		padding-top: 0; 
		margin-bottom: 56px;
		transform: none;
	}

	@media (min-width: $(max-width)) {
		transform: translateX(calc((100vw - 1440px) / -2))
	}
}