.section {
	display: block;

	@media $(x-large) {
		padding-left: 15%;
	}
}

.column {
	display: block;
}

.intro {
	z-index: 11;
}

.fauxTitle {
	@mixin wrapper;
    margin-top: -84px;
    margin-bottom: 84px;
	position: sticky;
	cursor: pointer;
	height: 0;
	z-index: 11;
	display: block;
	top: 24px;

	@media $(medium) {
		margin-top: -52px;
		margin-bottom: 52px;
	}
}

.fauxTitle h2 {
	@mixin copy;
	display: inline-block;
}