.accordions {
	@media $(medium) {
		margin-top: 72px !important;
	}
}

.halfCol {
	width: 100%;
	margin-bottom: 48px;
	
	@media $(medium) {
		width: calc(50% - 32px);
	}

	@media $(large) {
		width: calc(50% - 66px);
	}
}

.twoCol {
	width: 100%;
	
	@media $(medium) {
		columns: 2;
		column-gap: 64px;
	}
	@media $(large) {
		column-gap: 112px;
	}
}

.halfCol,
.twoCol {
	@mixin copy;
	:global(h3) {
		break-after: avoid;
		margin-top: 1em;
		margin-bottom: 0.5em;
	}

	:global(h4) {
		margin-bottom: 0.5em;
		text-decoration: underline;
	}

	:global(p) {
		margin-bottom: 1em;
	}
}

.twoCol :global(h3) {
	@mixin subtitle;
}

.tiles {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	row-gap: 8px;
	
	@media $(medium) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		column-gap: 20px;
		row-gap: 20px;
	}
}

.impact {
	@mixin subtitle;
	padding-top: 60px;
	
	@media $(medium) {
		padding-top: 80px;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto;
		column-gap: 56px;
	}

	ul {
		padding: 0;
		margin: 0;
	}
	
	li {
		border-bottom: 1px solid white;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	li:first-child {
		border-top: 1px solid white;
	}

	li a {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		line-height: 2;
	}

	img {
		display: none;
	}
}

.impact img {
	@media $(medium) {
		display: block;
		width: 100%;
		background-color: white;
		height: calc(50vw * 0.6);
	}
}
