.tile {
	background: $dark-grey;
	border-radius: 20px;
	padding: 20px 24px 72px;
	width: 100%;
	min-height: 50vw;
	margin-bottom: 12px;

	@media $(small) {
		min-height: calc(75vw / 2);
	}
	
	@media $(medium) {
		min-height: calc(75vw / 3);
		padding: 32px 32px 60px 40px;
		margin-bottom: 0;
	}

	@media $(x-large) {
		min-height: calc((1440px / 3) * 0.75);
	}

	&.hasTitle {
		min-height: 336px;
		padding: 32px 20px;
	
		@media $(medium) {
			padding: 32px 40px;
		}
	}
}

.title {
	@mixin subtitle;
	padding: 0;
	margin: 0 0 32px;

	@media $(medium) {
		margin-bottom: 26px;
	}
}

.copy {
	@mixin subtitle;
	padding: 0;
	margin: 0;
}

.hasTitle .copy {
	@mixin copy;
}